body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: justify;
}

.container {
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.text-display {
    font-size: 1.25em; /* Slightly larger text size */
    text-align: justify;
    cursor: text; /* Default cursor for text */
}

/* Using ::after pseudo-element to create the custom cursor */
.text-display::after {
    content: '>';
    position: absolute;
    font-size: 20px; /* Adjust size as needed */
    visibility: hidden;
}

.text-display:hover::after {
    visibility: visible;
    cursor: pointer;
}
