body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: justify;
}

.container {
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.text-display {
    font-size: 1.25em; /* Slightly larger text size */
    text-align: justify;
    position: relative; /* Ensure relative positioning for absolutely positioned cursor */
    cursor: pointer; /* Change cursor to pointer */
}

/* Using ::after pseudo-element to create the custom arrow cursor */
.text-display::after {
    content: '>';
    position: absolute;
    font-size: 20px; /* Adjust size as needed */
    left: 10px; /* Left align the arrow cursor */
    bottom: -30px; /* Position below the text */
    visibility: hidden;
}

.text-display:hover::after {
    visibility: visible;
}
