body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: justify;
}

.container {
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.text-display {
    font-size: 1.25em; /* Slightly larger text size */
    text-align: justify;
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAFZJREFUOI2lk9ENgDAIQ1tkoP3vXiBlbWL0fQ0+ZEwQTYQxguUqC/AhIlJZgm7EBMLNuApnLVuAx1WQQG4rkfIUi0PIIcA3sAwHO5Fsv4K2B5U9u+Mmc1Z4iIS4mlC6ykTAAAAD0BT/hyqFPEAAAAASUVORK5CYII='), auto;
}
